/*Global CSS*/

html{
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


body {
    margin: 0;
}

@font-face {
    font-family: BreathFire;
    src: url(./resources/BreatheFireIii-PKLOB.ttf);
}

@font-face {
    font-family: EnchantedLand;
    src: url(./resources/EnchantedLand-jnX9.ttf);
}


/*Navigation*/

nav{
    background-image: url(./resources/indaris_parchment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 5;
    border-bottom: .2rem solid rgba(47, 79, 100, 1);
}

nav ul{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    font-family: 'BreathFire';
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

nav a{
    color: rgba( 47, 79, 79, 1);
}

nav a:visited{
    color: rgba(47, 79, 100, 1);
}

@media only screen and (max-width: 760px){
    nav li{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 620px){
    nav{
        height: 2rem;
    }
    nav li{
        font-size: 1.3rem;
        padding: .1rem;
    }
}

@media only screen and (max-width: 400px){
    nav li{
        font-size: 1rem;
        padding: .2rem;
    }
}
/*Main content*/

main {
    position: relative;
    top: 4rem;
}

/*Jumotron*/

.jumbotron{
    padding-top: 4rem; /*height of your navbar*/
    margin-top: -4rem;
    text-align: center;
    background-image: url(./resources/Nordethren_Map.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 40rem;
}

.jumbotron .filter{
    background-color: rgba( 47, 79, 79, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .oath{
    font-family: 'EnchantedLand';
    width: 100%;
    background-image: url(./resources/indaris_parchment.jpg);
    background-size: cover;
    box-shadow: 0 1rem .5rem 0 rgba( 47, 79, 79, 1);
    border-top: .25rem solid rgba(179, 136, 28, 0.756);
}

.jumbotron h1{
    font-size: 5.75rem;
    margin: 1.5rem auto;
}

.jumbotron h2{
    font-size: 2.5rem;
    margin-top: 0;
}

@media only screen and (max-width: 760px){
    main{
        top: 2rem;
    }
    
    .jumbotron{
        padding-top: 2rem;
        margin-top: -2rem;
    }
    
    .jumbotron .oath{
        background-image: none;
        border: 0;
        box-shadow: none;
    }
}
/*Agents*/

#Agents{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: rgba(47, 79, 100, 1);
    padding: 5rem 0;
    padding-bottom: 2rem;
}

#Agents h2{
    text-align: center;
    background-image: url(./resources/indaris_parchment.jpg);
    font-family: 'BreathFire';
    font-size: 4rem;
    margin-top: 0;
    box-shadow: 0 .5rem .5rem 0 rgba( 0, 0, 0, 1);
    border-top: .25rem solid rgba(179, 136, 28, 0.756);
}

.agency{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 18%;
    background-image: url(./resources/indaris_parchment.jpg);
    padding: .2rem;
    border: .2rem solid rgba(179, 136, 28, 0.756);
    box-shadow: 0 .25rem .25rem rgba( 0, 0, 0, 1);
}

.agent-container .image-container{
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 12rem;
    overflow: hidden;
}

.agent-container .description{
    max-width: 12rem;
}

.agent-container .image-container img{
    width: 100%;
    max-height: 12rem;
}
 
.agent-container h3{
    text-align: center;
    font-family: 'EnchantedLand';
    font-size: 1.75rem;
    margin: 1rem .5rem;
    max-width: 9rem;
}

.agent-container h4{
    text-align: center;
    font-family: 'EnchantedLand';
    font-size: 1.5rem;
    margin: 1rem .5rem;
}

 .agent-container ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba( 47, 79, 79, 1);
    line-height: 1.4rem;
 }

 .agent-container li{
    margin-top: .1rem;
 }

 @media only screen and (max-width: 980px){
    .agency{
        flex-flow: column wrap;
        height: 80rem;
        align-items: center;
        justify-content: flex-start;
    }

    .agent-container{
        flex-direction: row;
        width: 23rem;
        height: 23rem;
        flex-shrink: 0;
        margin: 1rem auto;
    }

    .agent-container .image-container{
        display: flex;
        margin-left: .5rem;
    }

    .agent-container .image-container img{
        justify-self:center;
        width: 14rem;
    }
 }

 @media only screen and (max-width: 780px){
    .agency{
        height:auto;
    }

    .agent-container{
        width: 28rem;
        margin-bottom: 1rem;
    }

 }

 @media only screen and (max-width: 480px){
    .agent-container{
        width: 23rem;
    }
 }

 @media only screen and (max-width: 400px){
    .agent-container{
        width: 19rem;
    }

    .agent-container h4{
        font-size: 1.25;
    }

    .agent-container li{
        font-size: .8rem;
    }
 
}
/*Sevices*/

#Services{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: rgba(47, 79, 100, 1);
    padding: 5rem 0;
}

#Services h2{
    text-align: center;
    background-image: url(./resources/indaris_parchment.jpg);
    font-family: 'BreathFire';
    font-size: 4rem;
    margin-top: 0;
    box-shadow: 0 .5rem .5rem 0 rgba( 0, 0, 0, 1);
    border-top: .25rem solid rgba(179, 136, 28, 0.756);
}

.services-container{
    display: flex;
    justify-content: space-around;
}

.services-container .service{
    display: flex;
    flex-shrink: 0;
    flex-basis: 10rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    justify-content: space-around;
    max-width: 10rem;
}

.services-container .service .icon{
    background-image: linear-gradient(rgb(171, 170, 180), rgba(255, 255, 255, 1), rgba(90, 98, 103, 1));
    border: .25rem solid rgba(90, 98, 103, 1);
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 .2rem .25rem rgba( 0, 0, 0, 1);
}

.services-container .service .icon img{
    height: 5rem;
}

.services-container .service .content{
    color: rgba( 47, 79, 79, 1);
    background-image: url(./resources/indaris_parchment.jpg);
    margin: .5rem 0;
    padding: .5rem;
    height: 12rem;
    font-family: 'EnchantedLand'/*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/;
    font-size: 2rem;
    border: .2rem solid rgba(179, 136, 28, 0.756);
    box-shadow: 0 .25rem .25rem rgba( 0, 0, 0, 1);
}

@media only screen and (max-width: 760px){
    .services-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 50rem;
    }
    
    .services-container .service{
        align-self: center;
    }
}

@media only screen and (max-width: 450px){
    .services-container{
        max-height: 100rem;
    }
}
/*Notable Feats*/
#Feats{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: rgba(90, 98, 103, 1);
    padding: 5rem 0 2rem;
}

#Feats h2{
    text-align: center;
    background-image: url(./resources/indaris_parchment.jpg);
    font-family: 'BreathFire';
    font-size: 4rem;
    margin-top: 0;
    box-shadow: 0 .5rem .5rem 0 rgba( 0, 0, 0, 1);
    border-top: .25rem solid rgba(179, 136, 28, 0.756);
}

.feats-container{
    display: flex;
    justify-content: space-around;
}

.feat-image{
    display: flex;
    justify-content: center;
    height: 15rem;
    padding: 0.5rem;
    border: .25rem outset rgba(179, 136, 28, 0.756);
    background-color: rgba( 47, 79, 79, 1);
    box-shadow: .1rem .1rem .2rem rgba( 0, 0, 0, 1);
    margin: 1rem .75rem;
}

.feat-image img{
    width: 100%
}

.feat .content{
    font-family: 'BreathFire';
    text-align: center;
    background-image: url(./resources/indaris_parchment.jpg);
    margin: .5rem;
    box-shadow: 0 0 .2rem rgba( 0, 0, 0, 1);
}

.feat .content h4{
    margin: 0;
    line-height: 2rem;
    padding: 0 1rem;
}

@media only screen and (max-width: 900px){
    .feats-container{
        flex-direction: column;
        align-items: center;
    }

    .feat-image img{
        max-width: 80%;
    }

} 

/*Requests*/

#Contact{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    background-color: rgba( 0, 0, 0, 1);
    color:aliceblue;
    padding: 5rem 0 2rem;
}

#Contact h2{
    text-align: center;
    background-image: url(./resources/indaris_parchment.jpg);
    font-family: 'BreathFire';
    font-size: 4rem;
    margin-top: 0;
    color: black;
    box-shadow: 0 .5rem .5rem 0 rgba( 0, 0, 0, 1);
    border-top: .25rem solid rgba(179, 136, 28, 0.756);
}

.info h3, p{
    font-family: 'EnchantedLand';
    text-align: center;
    letter-spacing: .2rem;
}

.info p{
    font-size: 1.5rem;
}

.info h3{
    font-size: 2rem;
}

.contact-container h3{
    display: flex;
    justify-content: center;
}

.contact-container a{
    font-family: 'EnchantedLand';
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(rgb(171, 170, 180), rgba(255, 255, 255, 1), rgba(90, 98, 103, 1));
    border: .15rem solid rgb(171, 170, 180);
    border-radius: .1rem;
    text-decoration: none;
    color: rgba(47, 79, 100, 1)
}

.contact-container a:hover{
    background-image: linear-gradient(rgba(171, 170, 180, 0.75), rgba(255, 255, 255, .75), rgba(90, 98, 103, .75));
    color:rgba( 47, 79, 79, 0.75);
    box-shadow: 0 0 .2rem .2rem rgb(171, 170, 180);
}

.contact-container a:active{
    font-size: 2.3rem;
    margin-top: .2rem;
    box-shadow: 0 -.2rem .3rem .3rem rgb(171, 170, 180);
}

/*Footer*/

footer{
    background-image: url(./resources/indaris_parchment.jpg);
    padding: .2rem;
    position: relative;
    top: 2rem;
}